---
import '../../styles/global.css';
import ExplorerTree from './ExplorerTree.astro';
import ExplorerNav from './ExplorerNav.astro';
const { pageTitle } = Astro.props;

---

<div>
  <h1>{pageTitle}</h1>
  <p>This is the explorer page content.</p>
  <ExplorerNav />
  <div style="display:flex; flex-direction:row; gap:1rem; align-items:flex-start;">
    
    <ExplorerTree />

    <div class="window-body has-space has-scrollbar" style="max-height:70vh; overflow-y:auto;">
      <slot /> 
      <p>Hello world</p>
      <p>Hello world</p>
      <p>Hello world</p>
      <p>Hello world</p>
      <p>Hello world</p>
      <p>Hello world</p>
      <p>Hello world</p>
      <p>Hello world</p>
    </div>
  </div>
</div>


