---
import '../../styles/global.css';


---


<div class="window-body has-scrollbar" style="max-height:60vh; overflow-y:auto; min-width:260px; padding:0.5rem 0.75rem;">
      <ul class="tree-view has-collapse-button has-connector has-container">
        <details open>
          <summary>JavaScript</summary>
          <ul>
            <li>Avoid at all costs</li>
            <li>
              <details>
                <summary>Unless</summary>
                <ul>
                  <li>Avoid</li>
                  <li>
                    <details>
                      <summary>At</summary>
                      <ul>
                        <li>Avoid</li>
                        <li>At</li>
                        <li>All</li>
                        <li>Cost</li>
                      </ul>
                    </details>
                  </li>
                  <li>All</li>
                  <li>Cost</li>
                </ul>
              </details>
            </li>
          </ul>
        </details>
        <details open>
          <summary>JavaScript</summary>
          <ul>
            <li>Avoid at all costs</li>
            <li>
              <details>
                <summary>Unless</summary>
                <ul>
                  <li>Avoid</li>
                  <li>
                    <details>
                      <summary>At</summary>
                      <ul>
                        <li>Avoid</li>
                        <li>At</li>
                        <li>All</li>
                        <li>Cost</li>
                      </ul>
                    </details>
                  </li>
                  <li>All</li>
                  <li>Cost</li>
                </ul>
              </details>
            </li>
          </ul>
        </details>
            <details open>
          <summary>JavaScript</summary>
          <ul>
            <li>Avoid at all costs</li>
            <li>
              <details>
                <summary>Unless</summary>
                <ul>
                  <li>Avoid</li>
                  <li>
                    <details>
                      <summary>At</summary>
                      <ul>
                        <li>Avoid</li>
                        <li>At</li>
                        <li>All</li>
                        <li>Cost</li>
                      </ul>
                    </details>
                  </li>
                  <li>All</li>
                  <li>Cost</li>
                </ul>
              </details>
            </li>
          </ul>
        </details>
      </ul>
    </div>