---
import DesktopIcon from './DesktopIcon.astro';
---
<div class="desktop-icons">
  <DesktopIcon href="https://github.com/Minimaruva" label="GitHub" icon="fa-brands fa-square-github" color="#f0f6fc"  />
  <DesktopIcon href="https://www.linkedin.com/in/vladyslav-yahnon-270828350/" label="LinkedIn" icon="fa-brands fa-linkedin" color="#0A66C2" />
</div>
