---
// This is a window component that can be used to embed content like iframes or markdown
import '../styles/global.css';
const { pageTitle, id } = Astro.props;
---
<div id={id} class="window desktop-window" style="display: none; position:absolute; top:2rem; left:calc(50vw - 40vw); width:80vw; z-index:10;">
  <div class="title-bar">
    <div class="title-bar-text">{pageTitle}</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body has-scrollbar" style="max-height:80vh; overflow-y:auto; margin:0; padding:0;">
    <slot />
  </div>
</div>