---
import '../styles/global.css';
const { pageTitle, url, description } = Astro.props;
---
<div class="window desktop-window" style="position:absolute; top:2rem; left:calc(50vw - 40ch); width:80ch; z-index:10;">
      <div class="title-bar">
        <div class="title-bar-text">{pageTitle}</div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body has-space has-scrollbar" style="max-height:70vh; overflow-y:auto;">
        <iframe src={url} title={description}></iframe>
      </div>
</div>