---
import Navigation from './Navigation.astro';
import Menu from './Menu.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
    <div>
      <ThemeIcon />
      <Menu />
    </div>
    <nav>
        <Navigation />
    </nav>
</header>

<style>
  div {
    display: flex;
    justify-content: space-between;
  }
</style>