---
interface Props {
  href: string;
  label: string;
  icon: string;
  color?: string;
}
const { href, label, icon, color } = Astro.props;
---
<a href={href} class="desktop-icon" target="_blank" rel="noopener noreferrer">
  <i class={icon} style={color ? `color:${color}` : undefined}></i>
  <span>{label}</span>
</a>
